.Area {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    position: relative;
    gap: 24px;
    margin-bottom: 40px;
}

.background-blur {
    position: absolute;
    background-image: url("../img/Index_bluebluer.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    animation: BackgroundRotation 60s linear infinite;
    overflow: hidden;
    transform-origin: center;
}
.IndexRight {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.IndexTitle1 {
    font-weight: bolder;
}
.IndexTitle2 {
    font-weight: bolder;
}
.IndexText {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.Emoji {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
}
@media only screen and (min-width: 1025px) {
    .background-blur {
        width: 700px;
        height: 700px;
    }
    .Emoji {
        width: 400px;
    }
    .IndexTitle1 {
        font-size: 64px;
    }
    .IndexTitle2 {
        font-size: 112px;
    }
    .IndexText {
        font-size: 32px;
    }
    .IndexText strong {
        font-size: 48px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .background-blur {
        width: min(100vw, 600px);
        height: min(100vw, 600px);
    }
    .Emoji {
        width: 300px;
    }

    .IndexTitle1 {
        font-size: 64px;
    }
    .IndexTitle2 {
        font-size: 112px;
    }
    .IndexText {
        font-size: 28px;
    }
    .IndexText strong {
        font-size: 38px;
    }
}

@media only screen and (max-width: 600px) {
    .background-blur {
        width: 100%;
        height: 100%;
    }
    .IndexLeft,
    .Emoji {
        display: none;
    }

    .IndexTitle1 {
        font-size: 38px;
    }
    .IndexTitle2 {
        font-size: 56px;
    }
    .IndexText {
        font-size: 18px;
    }
    .IndexText strong {
        font-size: 24px;
    }
}

@keyframes BackgroundRotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
