.Area7 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    /* position: relative; */
    overflow-x: hidden;
    gap: 20px;
}
.ProfileLeft {
    width: 400px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.ProfileRight {
    width: 800px;
    height: 70vh;
    margin: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}
.ProfileTop {
    width: 400px;
    height: 400px;
    margin: 10px;
}
.ProfileTop img {
    width: 100%;
    height: 100%;
}
.ProfileBottom {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.ProfileBottom img {
    width: 80px;
    height: 80px;
    margin: 10px;
    cursor: pointer;
}
.ProfileTitle {
    position: absolute; /* 절대 위치로 설정 */
    top: 0; /* 부모 요소의 상단에 위치 */
    right: 0; /* 부모 요소의 좌측에 위치 */
    z-index: -1;
    margin: 20px;
}
.ProfileTitle h1 {
    color: #d6dce5;
    font-weight: bolder;
    font-size: 9rem;
}
.IntroArea {
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.Introduce {
    font-size: 2rem;
}
.Introduce .IntroduceItem {
    font-size: 2.5rem;
}
.IntroduceItem strong {
    position: relative;
    margin: 0 8px 0 0;
}
.IntroArea h1 {
    margin-bottom: 10px;
}
.IntroArea p {
    font-size: 20px;
}
.IntroArea a {
    color: black;
    text-decoration: none;
}
.IntroArea a:hover {
    text-decoration: underline;
}
/* 큰 화면에 대한 스타일 */
@media only screen and (min-width: 1025px) {
    .ProfileTitle h1 {
        font-size: 11rem;
    }
}
/* 중간 크기의 화면에 대한 스타일 */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .Area7 {
        flex-direction: column;
    }
    .ProfileLeft {
        height: 60vh;
    }

    .ProfileRight {
        width: 500px;
    }

    .ProfileTitle {
        left: 0;
    }
    .ProfileTitle h1 {
        font-size: 6rem;
    }
}
/* 작은 화면에 대한 스타일 */
@media only screen and (max-width: 600px) {
    .ProfileLeft {
        width: 300px;
        height: 45vh;
    }
    .ProfileTop {
        width: 250px;
        height: 250px;
    }
    .ProfileBottom {
        width: 200px;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .ProfileBottom img {
        width: 50px;
        height: 50px;
        margin: 10px;
        cursor: pointer;
    }
    .ProfileRight {
        width: 300px;
        height: 59vh;
    }
    .IntroArea div h1 {
        font-size: 1.6rem;
    }
    .Introduce .IntroduceItem {
        font-size: 1.9rem;
    }
    .ProfileTitle {
        left: 0;
    }
    .ProfileTitle h1 {
        font-size: 3.3rem;
    }
}
