.aboutme-container {
    border: 1px solid red;
}

/* 큰 화면에 대한 스타일 */
@media only screen and (min-width: 1025px) {
    .aboutme-container {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 50px 20px;
        gap: 20px;
    }
    img {
        width: 550px;
        height: 550px;
    }
    .aboutme-left {
        width: 600px;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .aboutme-title {
        position: absolute; /* 절대 위치로 설정 */
        top: 0; /* 부모 요소의 상단에 위치 */
        left: 0; /* 부모 요소의 좌측에 위치 */
        z-index: -1; /* Title을 C 뒤로 보내는 부분 */
    }
    .aboutme-title h1 {
        color: #dae3f3;
        font-weight: bolder;
        font-size: 160px;
    }

    .aboutme-right {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
    }
    .aboutme-right li {
        display: block;
        line-height: 60px;
        color: #909090;
        letter-spacing: -1.8px;
        text-decoration: none;
        font-size: 30px;
        width: fit-content; /* 내용 길이에 맞는 너비 설정 */
    }

    .aboutme-right li strong {
        position: relative;
        margin: 0 22px 0 0;
        color: #000;
    }

    .aboutme-right li strong:before {
        position: absolute;
        bottom: 5px;
        left: 0;
        z-index: -1;
        width: 0;
        height: 8px;
        background-color: #f54;
        content: "";
    }

    .aboutme-right li:first-child strong:after {
        content: "01";
    }
    .aboutme-right li:nth-child(2) strong:after {
        content: "02";
    }
    .aboutme-right li:nth-child(3) strong:after {
        content: "03";
    }
    .aboutme-right li:nth-child(4) strong:after {
        content: "04";
    }
    .aboutme-right li:nth-child(5) strong:after {
        content: "05";
    }
    .aboutme-right li:nth-child(6) strong:after {
        content: "06";
    }
    .aboutme-right li:nth-child(7) strong:after {
        content: "07";
    }
    .aboutme-right li:nth-child(8) strong:after {
        content: "08";
    }
    .aboutme-right li:nth-child(9) strong:after {
        content: "09";
    }

    .aboutme-right strong:after {
        position: absolute;
        top: 9px;
        right: -16px;
        font-size: 13px;
        line-height: 13px;
        color: #909090;
        letter-spacing: 0;
    }
    .aboutme-right li:hover strong:before {
        width: 100%;
        -webkit-transition: width 0.3s ease-out;
        -moz-transition: width 0.3s ease-out;
        transition: width 0.3s ease-out;
    }
    .aboutme-right li:hover {
        color: #000;
    }
}
/* 중간 크기의 화면에 대한 스타일 */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .aboutme-container {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 50px 20px;
        gap: 20px;
    }
    img {
        width: 550px;
        height: 550px;
    }
    .aboutme-left {
        width: 600px;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .aboutme-title {
        position: absolute; /* 절대 위치로 설정 */
        top: 0; /* 부모 요소의 상단에 위치 */
        left: 0; /* 부모 요소의 좌측에 위치 */
        z-index: -1; /* Title을 C 뒤로 보내는 부분 */
    }
    .aboutme-title h1 {
        color: #dae3f3;
        font-weight: bolder;
        font-size: 160px;
    }

    .aboutme-right {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
    }
    .aboutme-right li {
        display: block;
        line-height: 60px;
        color: #909090;
        letter-spacing: -1.8px;
        text-decoration: none;
        font-size: 30px;
        width: fit-content; /* 내용 길이에 맞는 너비 설정 */
    }

    .aboutme-right li strong {
        position: relative;
        margin: 0 22px 0 0;
        color: #000;
    }

    .aboutme-right li strong:before {
        position: absolute;
        bottom: 5px;
        left: 0;
        z-index: -1;
        width: 0;
        height: 8px;
        background-color: #f54;
        content: "";
    }

    .aboutme-right li:first-child strong:after {
        content: "01";
    }
    .aboutme-right li:nth-child(2) strong:after {
        content: "02";
    }
    .aboutme-right li:nth-child(3) strong:after {
        content: "03";
    }
    .aboutme-right li:nth-child(4) strong:after {
        content: "04";
    }
    .aboutme-right li:nth-child(5) strong:after {
        content: "05";
    }
    .aboutme-right li:nth-child(6) strong:after {
        content: "06";
    }
    .aboutme-right li:nth-child(7) strong:after {
        content: "07";
    }
    .aboutme-right li:nth-child(8) strong:after {
        content: "08";
    }
    .aboutme-right li:nth-child(9) strong:after {
        content: "09";
    }

    .aboutme-right strong:after {
        position: absolute;
        top: 9px;
        right: -16px;
        font-size: 13px;
        line-height: 13px;
        color: #909090;
        letter-spacing: 0;
    }
    .aboutme-right li:hover strong:before {
        width: 100%;
        -webkit-transition: width 0.3s ease-out;
        -moz-transition: width 0.3s ease-out;
        transition: width 0.3s ease-out;
    }
    .aboutme-right li:hover {
        color: #000;
    }
}
/* 작은 화면에 대한 스타일 */
@media only screen and (max-width: 600px) {
    .aboutme-container {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 50px 20px;
        gap: 20px;
    }
    img {
        width: 300px;
        height: 300px;
    }
    .aboutme-left {
        width: 600px;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .aboutme-title {
        position: absolute; /* 절대 위치로 설정 */
        top: 0; /* 부모 요소의 상단에 위치 */
        left: 0; /* 부모 요소의 좌측에 위치 */
        z-index: -1; /* Title을 C 뒤로 보내는 부분 */
    }
    .aboutme-title h1 {
        color: #dae3f3;
        font-weight: bolder;
        font-size: 80px;
    }

    .aboutme-right {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .aboutme-right li {
        display: block;
        line-height: 60px;
        color: #909090;
        letter-spacing: -1.8px;
        text-decoration: none;
        font-size: 20px;
        width: fit-content; /* 내용 길이에 맞는 너비 설정 */
    }

    .aboutme-right li strong {
        position: relative;
        margin: 0 22px 0 0;
        color: #000;
    }

    .aboutme-right li strong:before {
        position: absolute;
        bottom: 5px;
        left: 0;
        z-index: -1;
        width: 0;
        height: 8px;
        background-color: #f54;
        content: "";
    }

    .aboutme-right li:first-child strong:after {
        content: "01";
    }
    .aboutme-right li:nth-child(2) strong:after {
        content: "02";
    }
    .aboutme-right li:nth-child(3) strong:after {
        content: "03";
    }
    .aboutme-right li:nth-child(4) strong:after {
        content: "04";
    }
    .aboutme-right li:nth-child(5) strong:after {
        content: "05";
    }
    .aboutme-right li:nth-child(6) strong:after {
        content: "06";
    }
    .aboutme-right li:nth-child(7) strong:after {
        content: "07";
    }
    .aboutme-right li:nth-child(8) strong:after {
        content: "08";
    }
    .aboutme-right li:nth-child(9) strong:after {
        content: "09";
    }

    .aboutme-right strong:after {
        position: absolute;
        top: 9px;
        right: -16px;
        font-size: 13px;
        line-height: 13px;
        color: #909090;
        letter-spacing: 0;
    }
    .aboutme-right li:hover strong:before {
        width: 100%;
        -webkit-transition: width 0.3s ease-out;
        -moz-transition: width 0.3s ease-out;
        transition: width 0.3s ease-out;
    }
    .aboutme-right li:hover {
        color: #000;
    }
}
