.Area5 {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow-x: hidden;
}

.ToyProjectArea {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 10px;
}
.ToyProjectTitle {
    width: 90%;
    font-weight: bolder;
    color: #797979;
    text-align: left;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.ToyProject {
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}
.ProjectBox {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 15px;
    gap: 10px;
}
.BoxTop {
    height: 220px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;
}
.Boxname {
    font-size: 23px;
}
.BoxDate {
    font-size: 18px;
}
.BoxStack {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.BoxStack p {
    gap: 5px;
}
.BoxBottom {
    height: 55px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.BoxLink {
    width: 100px;
    height: 40px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-size: 30px;
}
.BoxLink img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.BoxLink a {
    color: black;
}

/* 큰 화면에 대한 스타일 */
@media only screen and (min-width: 1025px) {
    .ToyProjectTitle {
        font-size: 3.5rem;
    }
}
/* 중간 크기의 화면에 대한 스타일 */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .ToyProjectTitle {
        font-size: 2.5rem;
    }
}
/* 작은 화면에 대한 스타일 */
@media only screen and (max-width: 600px) {
    .ToyProjectTitle {
        font-size: 1.5rem;
    }
}
