/* INDEX */
.IndexAni{
    position: relative; /* 배경 이미지를 회전하기 위해 부모 요소에 상대 위치 설정 */
    overflow: hidden; /* 회전된 배경 이미지가 부모 요소를 벗어나지 않도록 설정 */
}

.IndexAni::before{
    content: ''; /* 가상 요소 생성 */
    position: absolute; /* 절대 위치 */
    top: 0; /* 부모 요소의 상단에 배치 */
    left: 0; /* 부모 요소의 왼쪽에 배치 */
    width: 100%; /* 너비를 부모 요소와 동일하게 설정 */
    height: 100%; /* 높이를 부모 요소와 동일하게 설정 */
    background-image: url("../img/Index_bluebluer.png");
    background-size: 100%; /* 배경 이미지가 가득 차게 설정 */
    background-repeat: no-repeat; /* 반복 없애기 */
    background-position: center; /* 이미지를 가운데 정렬 */
    z-index: -1; /* 부모 요소의 내용 위에 나타나도록 설정 */
    animation: BackgroundRotation 60s linear infinite; /* 회전 애니메이션 적용 */
    transform-origin: center;
}

@keyframes BackgroundRotation {
    from {
        transform: rotate(0deg); /* 초기 회전 각도 */
    }
    to {
        transform: rotate(360deg); /* 최종 회전 각도 */
    }
}

/* SKILL HOVER */
.SkillDown img,.ProjectCard{
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out; 
}
.SkillDown img:hover,.ProjectCard:hover{
    transform: scale(1.1); /* 마우스를 올리면 이미지를 1.1배로 확대 */
    filter: drop-shadow(0px 0px 20px rgba(0,0,0,0.15));
}

/* TEXT BOUNCE */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0); /* 튀기 전 위치 */
    }
    40% {
      transform: translateY(-20px); /* 최대로 튀는 높이 */
    }
    60% {
      transform: translateY(-10px); /* 다음에 튀는 높이 */
    }
  }
  
  .bouncy {
    animation: bounce 3.5s infinite; /* 애니메이션 적용 */
  }