.Area2 {
    width: 100%;
    height: 100vh;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.SkillTop{
    text-align: center;
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
}
.SkillTop span{
    font-weight: bolder;
    margin: 10px;
    padding: 10px;
}
.SkillDown{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    width: 90%;
    height: auto;
    gap: 20px;
}
.SkillDown img{
    padding: 10px;
    height: auto;
    cursor: pointer;
}
/* 큰 화면에 대한 스타일 */
@media only screen and (min-width: 1025px) {
    .SkillTop span{
        font-size: 3.2rem;
    }
    .SkillDown img{
        width: 200px;
    }
}
/* 중간 크기의 화면에 대한 스타일 */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .SkillTop span{
        font-size: 3rem;
    }
    .SkillDown img{
        width: 130px;
    }
}
/* 작은 화면에 대한 스타일 */
@media only screen and (max-width: 600px) {
    .Area2 {
        height: 90vh;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .SkillTop{
        font-size: 1.5rem;
    }
    .SkillTop span{
        font-size: 2rem;
    }
    .SkillDown img{
        width: 75px;
    }
}